html{
 background-image: url("bluefade.png");
    background-repeat: repeat-x;
}

body {
    background-color: white;
margin: 20px auto;
width: 960px;
padding: 20px;
height: auto;
border-style: solid;
margin-top: 70px;
}
body.home {
    background-color: white;
margin: 20px auto;
width: 960px;
padding: 20px;
height: 850px;
border-style: solid;
margin-top: 70px;
}



h1 {
    margin-bottom: 5px;
    padding: 10px;
}

hr{
    border-color: black;
    height: 3px;
    background-color: black;
}
img.main{
    position: absolute;
    left: 300px;
    top: 550px;
    border: black solid;
}

p.source {
    font-style: italic;
}

h2.center{
   text-align: center;
}

p.summary{
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}